.register-form {

  display:block;
  height:100vh;

    // Background Image
    background-image: url('../../assets/carpic.jpeg'); // Adjust path as per your project structure
    background-size: cover; // Cover the entire container
    background-position: no-repeat center center fixed; // Center the image
  

    }